# ===================================================================
# Dependencies
# ===================================================================
**/node_modules

# ===================================================================
# Build & Cache Files
# ===================================================================
**/dist
**/build
**/.next
**/.payload

frontend/cache

.cache
.eslintcache

# ===================================================================
# Log Files
# ===================================================================
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ===================================================================
# Environment Variables
# ===================================================================
**/.env
.env.*
!.env.example
# ===================================================================
# Docker
# ===================================================================
/data
/postgres-data

# ===================================================================
# OS & Editor Specific Files
# ===================================================================
# macOS
.DS_Store

# Windows
Thumbs.db

# pnpm
.pnpm-store/
# ===================================================================
/structure

# Data and utility scripts
products.json
import-script.mjs